*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0d0d0d;
color:#fff;
line-height:1.6;
}

.header{
position:sticky;
top:0;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#000;
border-bottom:2px solid gold;
z-index:1000;
flex-wrap:wrap;
}

.logo h1{
color:gold;
font-size:30px;
}

.logo p{
color:#ccc;
font-size:14px;
margin-top:5px;
}

nav{
display:flex;
flex-wrap:wrap;
gap:20px;
}

nav a{
text-decoration:none;
color:white;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:gold;
}

.hero{
min-height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:40px 20px;
background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75));
}

.hero h2{
font-size:58px;
color:gold;
margin-bottom:20px;
}

.hero p{
max-width:750px;
font-size:22px;
color:#ddd;
}

.btn{
margin-top:35px;
display:inline-block;
padding:16px 40px;
background:gold;
color:black;
font-weight:bold;
text-decoration:none;
border-radius:40px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}

section{
padding:80px 8%;
}

section h2{
color:gold;
margin-bottom:20px;
font-size:38px;
}

footer{
background:#000;
padding:30px;
text-align:center;
border-top:2px solid gold;
color:#bbb;
}

@media(max-width:768px){

.header{
flex-direction:column;
text-align:center;
}

nav{
justify-content:center;
margin-top:20px;
}

.hero h2{
font-size:40px;
}

.hero p{
font-size:18px;
}

}
